<h1>Sighting for <%= @sighting.animal.species %> deleted</h1>


<p>Would you like to <a href="/animals/<%= @sighting.animal.id %>">return to the <%= @sighting.animal.species %> page</a>, or <a href="/animals/<%= @sighting.animal.id %>/sightings/new">add a new sighting for <%= @sighting.animal.species %>?</a>
