
<h1>New Sighting for <%= @sighting.animal.species %></h1>

<% if @sighting.errors.any? %>
<h3>Please fix these errors:</h3>
<ul>
  <% @sighting.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<form action="/animals/<%= @sighting.animal.id %>/sightings" method="post">
  <label for="sighting_date">Sighting</label>
  <input id="sighting_date" name="sighting[date]" type="date" value="<%= @sighting.date %>">
  <label for="sighting_latitude">Latitude Coordinate</label>
  <input id="sighting_latitude" name="sighting[latitude]" type="real" value="<%= @sighting.latitude %>">
  <label for="sighting_longitude">Sighting</label>
  <input id="sighting_longitude" name="sighting[longitude]" type="real" value="<%= @sighting.longitude %>">
  <input name="sighting[animal_id]" type="hidden" value="<%= @sighting.animal.id %>">
  <button>Add New Sighting</button>
</form>

<!-- Latitude and longitude coordinates should be between -180 and 180. Error if not -->
