<h1>Sighting updated!</h1>

<p>Your <%= @sighting.animal.species %> sighting was successfully updated.</p>

<p><a href="/animals/<%= @sighting.animal.id %>/sightings/new">Add another sighting of <%= @sighting.animal.species %></a></p>

<p><a href="/animals/<%= @sighting.animal.id %>">Go back to the <%= @sighting.animal.species %> main page</a></p>

<p><a href="/animals">Return to main page of animals</a></p>
