<h1>Sighting updated!</h1>

<p>Your <%= @sighting.animal.species %> sighting was successfully updated.</p>

<p><%= link_to 'Add sighting', new_animal_sighting_path(@sighting.animal.id) %></p>

<p><%= link_to (@sighting.animal) do %>
  View <%= @sighting.animal.species %>
<% end %></p>

<p><%= link_to 'Return to main page of animals', animals_path %> </p>
