<h1><%= @animal.species %></h1>

<a><img src="<%= @animal.image_url %>" alt="<%= @animal.species %>"></a>
<p class="population">Population in Portland: <%= @animal.population %></p>

<h3>Sightings:</h3>

  <p><%= link_to 'Add sighting', new_animal_sighting_path(@animal.id) %></p>

  <table>
    <tr class=headings>
      <th>Species Name</th>
      <th>Date Sighted</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Region</th>
    </tr>
      <% @sightings.each do |sighting| %>
    <tr class=sightings>
        <td><%= sighting.animal.species %></td>
        <td><%= sighting.date %></td>
        <td><%= sighting.latitude %></td>
        <td><%= sighting.longitude %></td>
        <td><%= sighting.region.region_name %></td>
        <td><%= link_to 'Edit Details', [:edit, @animal, sighting] %></td>
        <td><%= link_to 'Remove Sighting', [@animal, sighting], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  </table>
<p><%= link_to 'Edit animal attributes', [:edit, @animal] %></p>
<p><%= link_to 'Delete animal', @animal, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<p><%= link_to 'Return to main page of animals', animals_path %></p>
