<h1><%= @animal.species %></h1>

<a href="/animals/<%= @animal.id %>/sightings/new">Add sighting </a>

<p><img style="height:auto; width:auto; max-width:150px; max-height:150px" src="<%= @animal.image_url %>"><p>
<p>Name: <%= @animal.species %></p>
<p>Population in Portland: <%= @animal.population %></p>

<!-- Figure out how to re-size all images -->
<p><a href="/animals/<%= @animal.id %>/edit">Edit animal attributes</a></p>
<p><a href="/animals/<%= @animal.id %>"
  data-confirm="You sure?"
  data-method="delete"
  rel="nofollow">Delete <%= @animal.species %> from database</a></p>
  <p><a href="/animals">Return to main page</a></p>

<p>Sightings:</p>
  <ul>
    <li> Date Sighted ---- Latitude ---- Longitude</li>
    <% @sightings.each do |sighting| %>
    <li>
      <%= sighting.date %> ---- <%= sighting.latitude %> ---- <%= sighting.longitude %> --- <a href="/animals/<%= @animal.id %>/sightings/<%= sighting.id %>/edit">Edit Sighting Name</a> 
    </li>
    <br>
    <% end %>
  </ul>
